header {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: cadetblue;
}

h1 a {
    color: darkblue;
    
}

h1 a:hover {
    color: goldenrod;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
  margin-left: 15px;
    color: darkblue;
    font-weight: bold;
}

nav ul li a:hover {
    color: goldenrod;
}